h1, h2 {
    font-family:  Helvetica, Arial, sans-serif;
    text-align: center;
    color: orangered;
}

h2 {
    background-color: azure;
    margin: 0px;
    background-color: burlywood;
    padding: 10px;
}

div {
    background-color: lightsalmon;
    padding: 20px;
    margin: 10px auto;
    width: 500px;
}

a {
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
}
.bc, .ac, .bs {
    display: block;
    padding: 10px;
    background-color: burlywood;
    margin: 20px 0;
    text-align: center;
}
.bc:hover {
    color: orange;
}

.bs:hover {
    color: bisque;
}

.ac:hover {
    color: red;
}

.bs {
    margin-bottom: 0px;
}